.footer {
    display: flex;
    width: 100%;
    height: 240px;
    background: linear-gradient(to bottom, #fb8627, #f5bef6);
    padding: 20px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 40px;

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: center;
    }
}

.footer-logo {
    height: 90px;
    width: auto;
}

.footer-text {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5px;

    @media (max-width: 768px) {
        font-size: 16px;
        width: 50%;
    }
}
