.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    input {
        display: none;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        transition: 0.2s ease;

        background:
            linear-gradient(#fff, #fff) padding-box,
            linear-gradient(to bottom, #fb8627, #f5bef6) border-box;
        border: 1.5px solid transparent;
    }

    input:checked + .box {
        background: linear-gradient(to bottom, #fb8627, #f5bef6);
    }

    .label {
        font-size: 14px;
        color: gray;
    }
}
