.news-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .news-image {
        width: 100%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            cursor: pointer;
        }

        &:hover img {
            transform: scale(1.03);
        }
    }

    .news-content {
        display: flex;
        flex-direction: column;
    }

    .news-title {
        cursor: pointer;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 80%;
        }
    }

    .news-description {
        width: 100%;
        opacity: 50%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
